:root {
  --primary-font: "Epilogue", sans-serif;
  --secondary-font: "Barlow", sans-serif;
  --primary-color: #fafafa;
  --secondary-color: #a1a1a1;
  --highlight-color: #e9f58d;
}

body {
  background-color: var(--primary-color);
}

h1 {
  font-family: var(--primary-font);
  font-size: 72px;
  font-weight: bold;
  margin-top: 100px;
}

h2 {
  font-family: var(--secondary-font);
  font-size: 20px;
  color: var(--secondary-color);
}

.intro {
  font-family: var(--secondary-font);
  font-size: 30px;
  font-weight: bold;
  padding-top: 60px;
  display: flex;
  max-width: 400px;
}

.country {
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: bold;
}

.navbar-brand {
  font-family: var(--primary-font);
  font-weight: bold;
  text-align: center;
  color: black;
}

.nav-link {
  color: black;
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: bold;
  text-transform: lowercase;
}

.navbar {
  background-color: var(--primary-color);
}

.btn {
  background-color: var(--primary-color);
  border-color: black;
  border-width: 1px;
  padding: 15px;
  margin-top: 30px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 5px;
  color: black;
}

.btn:hover {
  background-color: black;
  color: white;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: var(--highlight-color);
}

.hero-image {
  max-width: 500px;
  text-align: right;
  margin: -100px;
  border-radius: 5px;
}

.secondary-container {
  margin-top: 200px;
  margin-bottom: 50px;
}

.short-intro {
  text-align: center;
  font-size: 15px;
  font-family: var(--secondary-font);
}

.content-img {
  max-width: 500px;
  border-radius: 5px;
}

.main-content-title {
  margin: 30px 0;
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 24px;
  font-family: var(--primary-font);
}

.content-title {
  font-family: var(--secondary-font);
  font-weight: bold;
  margin-top: 20px;
  font-size: 16px;
}

.about-image {
  max-width: 500px;
  border-radius: 5px;
}

.about-header {
  font-family: var(--primary-font);
  font-size: 40px;
}

.highlight {
  color: var(--secondary-color);
}

.about-subheader {
  font-size: 18px;
}

.about-content {
  margin-top: 50px;
  font-size: 18px;
  font-family: var(--secondary-font);
  max-width: 450px;
}

.work-image {
  max-width: 500px;
  border-radius: 5px;
  padding: 15px 0;
}

.work-header {
  text-align: center;
  font-size: 25px;
  font-family: var(--primary-font);
  font-weight: bold;
  margin: 50px 30px;
}

.work-title {
  font-size: 18px;
  font-family: var(--primary-font);
  font-weight: bold;
  text-align: center;
}

.work-subtitle {
  font-size: 15px;
  font-family: var(--secondary-font);
  font-weight: 500;
  color: var(--secondary-color);
  text-align: center;
  margin-top: -15px;
}

.contact-header {
  font-size: 40px;
  font-family: var(--primary-font);
  font-weight: bold;
}

.contact-detail {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 18px;
}

.content-title {
  font-family: var(--primary-font);
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: 600;
}

.footer-header {
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.footer-email {
  font-size: 18px;
  font-family: var(--secondary-font);
  font-weight: bold;
  text-align: center;
}

.footer-box {
  background-color: var(--highlight-color);
  padding: 30px 50px;
  margin: 50px 0;
  border-radius: 5px;
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 24px;
}

.footer-subtitle {
  font-family: var(--secondary-font);
  font-size: 15px;
  font-weight: 500;
}

.icon-container {
  text-align: center;
  font-size: 24px;
}

.fa-brands {
  margin: 15px 30px;
  background-color: black;
  color: white;
  border-radius: 50%;
  padding: 10px;
  transition: all 100ms ease-in-out;
}
